/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-darkGray: 0 0% 63%;
    --clr-veryDarkGray: 0 0% 27%;
    --clr-black: 0 0% 0%;
    --clr-white: 0 0% 100%;
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

/* set up the body */
body {
    font-family: 'League Spartan', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.bg-black { background-color: hsl( var(--clr-black) );}
.bg-gray { background-color: hsl( var(--clr-veryDarkGray) );}

.text-black { color: hsl( var(--clr-black) );}
.text-white { color: hsl( var(--clr-white) );}
.text-gray { color: hsl( var(--clr-darkGray) );}

/* typography */

.uppercase { text-transform: uppercase; }

.attribution {
    font-size: 11px;
    text-align: center;
    align-self: end;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* primary header */
.container {
    flex-direction: column;
}

.primary-header {
    position: relative;
    justify-content: space-between;
    background: url(./images/mobile-image-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    height: 360px;
}

.logo {
    height: 13.06px;
    width: 61.72px;
    margin-inline: auto;
    margin-top: 3rem;
}

.primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    list-style: none;
    padding: 3rem 6.75rem;
    margin: 0;
    background: hsl( var(--clr-white));
    z-index: 10;
}

.primary-navigation li {
    padding: 0;
    padding-bottom: .5rem;
}

.mobile-nav-toggle {
    display: none;
}

.caroussel {
    height: 56px;
    width: 56px;
    border: none;
    background-color: hsl( var(--clr-black) );
    padding-left: 1.2rem;
}

.caroussel:hover {
    background-color: hsl( var(--clr-veryDarkGray) );
}

.left-button {
    position: absolute;
    bottom: 0;
    right: 56px;
}

.right-button {
   position: absolute;
   bottom: 0;
   right: 0;
}

.discover {
    padding-inline: 2rem;
}

.discover > h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 37px;
    letter-spacing: -1.66667px; 
    margin-top: 3.75rem;   
}

.discover > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.333333px;
    margin-top: 1rem;
    margin-bottom: 2.5625rem;
}

.discover > a {
    display: inline;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 12.5px;
    text-decoration: none;
    color: hsl( var(--clr-black) );
}

.discover > a img {
    display: inline;
}

.bottom-item {
    flex-direction: column;
}

.image-about-dark {
    margin-top: 4.5rem;
}

.about > h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: 5.83333px;  
    margin-top: 3.06rem; 
    padding-inline: 2rem;

}

.about > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.333333px;
    margin-top: 1rem;
    padding-inline: 2rem;
}

.image-about-light {
    margin-top: 2.56rem;
    margin-bottom: 2rem;
}



@media (max-width: 340px) {
    .primary-navigation {
        flex-direction: column;
        padding-bottom: 11rem;
        width: 10rem;
    }
}

@media (max-width: 820px) {
    .primary-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 0;
        list-style: none;
        margin: 0;
        transform: translateX(-200%);
        transition: transform 500ms ease-in-out;
        height: 6.875rem;
    }

    .primary-navigation a {
        text-decoration: none;
        color: hsl( var(--clr-black) );
    }
   
    .primary-navigation-toggle {
        transform: translateX(0%);
        transition: transform 500ms ease-in-out;
    }

    .primary-navigation.underline-indicators > .active {
        border: 0;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 20000;
        top: 3rem;
        left: 1.625rem;
        background: transparent;
        background-image: url(./images/icon-hamburger.svg);
        width: 1.5rem;
        aspect-ratio: 1;
        background-repeat: no-repeat;
        border: 0;
    }
}


@media (min-width: 820px) {
    .container {
        flex-direction: row;
        width: 100vw;
    }

    .primary-header {
        width: 58%;
        height: 534px;
        background: url(./images/desktop-image-hero-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
    }

    .logo {
        position: absolute;
        left: 4rem;
    }

    .primary-navigation {
        padding-left: 11rem;
        background: transparent;
        --gap: 1rem;
    }

    .primary-navigation a {
        color: hsl( var(--clr-white) );
        text-decoration: none;
        padding-bottom: 2rem;
    }

    .caroussel {
        height: 80px;
        width: 80px;
        padding-left: 2rem;
        transform: translateX(160px);
    }

    .left-button {
        right: 80px;
    }

    .discover {
        padding-inline: 3rem;
        padding-top: 0;
    }

    .bottom-item {
        padding-inline: 0;
        flex-direction: row;
    }

    .image-about-dark {
        margin-top: 0;
        height: auto;
    }
    
    .about > h2 {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        text-align: justify;
        letter-spacing: 5.83333px;  
        margin-top: 3.06rem;  
    }
    
    .about > p {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.333333px;
        min-width: 400px;
        margin-top: 1rem;
    }
    
    .image-about-light {
        margin-top: 0;
        margin-bottom: 0;
        height: auto;
    }
}

@media (min-width: 1000px) {
    .discover {
        padding-inline: 6.25rem;
        width: 600px;
    }
}

.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, 2rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
    background: transparent;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl( var(--clr-white));
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1); 
}
